.git/
.gitignore
.docks/
README.md
LICENSE
CHANGELOG.md
**/bin/
**/obj/
**/TestResults/
src/Bzn.Cloudios.WebApp/
src/Bzn.Cloudios.WebPlatform/
src/Bzn.Cloudios.WebApp.Blazor.Backup/
src/Bzn.Cloudios.WebPlatform.Blazor.Backup/

